<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.magicbox">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/ic_magic_box_launcher_foreground"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_magic_box_launcher_foreground"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:targetApi="q">
        <activity
            android:name=".ToolsDetail"
            android:exported="true"
            android:label="@string/title_activity_tools_detail"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".GalleryBox"
            android:exported="true"
            android:label="@string/title_activity_gallery_box"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".MoveRoom"
            android:exported="true"></activity>
        <activity android:name=".ChangeRoom"></activity>
        <activity
            android:name=".MyBoxes"
            android:label="@string/title_activity_my_boxes"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".Tools" />
        <activity android:name=".EditBox" />
        <activity android:name=".AddBox" />
        <activity android:name=".ChangePasswd" />
        <activity android:name=".EditUser" />
        <activity android:name=".MainMenu" />
        <activity android:name=".Registry" />
        <activity android:name=".Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.vision.DEPENDANTS"
            android:value="barcode" />

        <activity
            android:name=".CaptureAct"
            android:screenOrientation="fullSensor"
            android:stateNotNeeded="false"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>